.table {
  margin-top: 1rem;

  &_button {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &_container {
    &_filter {
      display: flex;
      gap: 1rem;
    }
    &--content {
      //   white-space: nowrap;
      .buttons {
        display: flex;
        justify-content: center;

        &_wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-block: 1rem;
          gap: 1rem;

          .general-button {
            width: fit-content !important;
            min-width: 5rem;
            height: 2rem !important;
            display: flex;
            justify-content: flex-end;
            place-content: center;
          }
        }
      }

      th {
        background-color: #eeeeee;
        color: var(--primary-color);
        font-weight: 590;
        font-size: 1rem;
        text-align: center;
      }

      tr {
        font-size: 1rem;
      }

      tr:nth-child(even) {
        background-color: #eeeeee;
      }

      td {
        text-align: center;
        height: 4rem;
        max-width: 4.1rem;
      }

      img {
        height: 40px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
